# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django database
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log